.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set minimum height for full viewport */
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center container horizontally */
}

.search-bar {
  width: 100%; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.url-list {
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0;
}

.url-list li {
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer; /* Style for clickable URLs (optional) */
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-button {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
  background-color: #fff; /* Button background color */
}

.link-button {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  border: 0px solid #ccc;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff; /* Button background color */
}

.link-button img {
  width: 80%;
  height: 80%;
  align-self: center;
  border: 0px;
  margin: 1px;
  padding: 1px;
}
.link-button a {
  width: 90%;
  height: 20%;
  align-self: center;
  border: 0px;
  margin: 1px;
  padding: 1px;
  font-size: 10px;
  overflow:hidden;
}

.add-button {
  background-color: #ddd; /* Distinguish Add button color */
}

.add-url-dialog {
  position: fixed; /* Position the dialog on top of the content */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 10; /* Set dialog on top of other elements */
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.add-url-dialog input {
  align-self: center;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.add-url-dialog button {
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}
